<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

   <!--  PARTIAL inserts HTML shim -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
  <!--  PARTIAL inserts NAV HEADER via render -->
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    <!--  PARTIAL inserts FOOTER via render -->
    <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
